<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MysqlScanner" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MysqlScanner" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MysqlScanner.MysqlScannerFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>